{% extends 'index.html' %}
{% block title %}
Dashboard
{% endblock title %}


{% block content %}
<h1>All Django Operations in one Project</h1>
<hr>
<h2>Django Operations</h2>
<ol>
    <li class="fs-4">Create View Using Class <span class="badge bg-success">Completed</span></li>
    <li class="fs-4">List View Using Class <span class="badge bg-success">Completed</span></li>
    <li class="fs-4">Detail View Using Class <span class="badge bg-success">Completed</span></li>
    <li class="fs-4">Update View Using Class <span class="badge bg-warning">Ongoing</span></li>
    <li class="fs-4">Delete View Using Class <span class="badge bg-success">Completed</span></li>
</ol>
<h2>Custom User Model</h2>
<ol>
    <li class="fs-4">Create Custom User Model <span class="badge bg-success">Completed</span></li>
    <li class="fs-4">Update Custom User Model <span class="badge bg-warning">Ongoing</span></li>
</ol>
<h2>Other Features</h2>
<ol>
    <li class="fs-4">Django Celery</li>
</ol>
<h2>Last Log's</h2>
<ul>
    <li class="fs-4">Working on Login View</li>
</ul>
{% endblock content %}